* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family:  roboto, sans-serif;
    background-color: #45298E;
    color: #777;
    font-size: 15px;
}

#title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 2.5em;
  color: #45298E;
}

.info-bar {
  box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background: #fff;
    line-height: 1.3em;
    color: #705E9F;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

form {
    position: absolute;
    background: #fff;
    text-align: center;
    width: 600px;
    height: 420px;
    top: calc(50% - 200px);
    right: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

form > label, input[type=radio], input[type=checkbox] {
    cursor: pointer;
    vertical-align: middle;
}

.window-title {
  color: #45298E;
  font-weight: 100;
  font-size: 1.5em;
  padding: 15px 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}

.path {
    padding: 13px 15px;
    border: 2px solid #ccc;
    width: 80%;
    margin: 5px auto;
    font-size: 1.2em;
    font-weight: 200;
    outline: none;
}

.form-group {
  margin: 0 auto 15px auto;
  box-sizing: border-box;
}

input, button, select, option, textarea {
  color: inherit;
}
.info {
  display: block;
  margin-bottom: 8px;
}

.submit-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  background-color: #CDD5D0;
}

.submit-btn:not(:disabled) {
  background-color: #1C8B64;
}
.submit-btn:not(:disabled):active{
  background-color: #50A185;
}

#ignore {
  cursor: text;
}
.ignore-item {
  display: inline-block;
  margin-right: 5px;
  font-size: .8em;
  padding: 5px;
  background-color: #45298E;
  color: white;
  cursor: pointer;
}

.ignore {
  border: none;
  width: 7px;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#ignore {
  padding: 10px 15px;
}

#feedback {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #FEF4F5;
}
.feedback {
  padding: 20px;
}
.error {
  background: #EE767A;
}
.success {
  background-color: #58B075;
}
